<h1>TABELLE</h1>
<br />
<h3>DIE AKTUELLE TABELLE DER 1. BUNDESLIGA</h3>
<br />

<div class="table-row head border-top">
    <span class="position">#</span>
    <span class="team">TEAM</span>
    <span class="point">PKT</span>
    <span class="goal">TOR+</span>
    <span class="goal">TOR-</span>
    <span class="goal">TOR∆</span>
</div>

{{#each table}}
    <div class="table-row {{stripes @index}}">
        <span class="position">{{platz}}</span>
        <span class="team">
            <span class="teamlogo" style="background-image: url(img/wappen/{{id}}.png)"></span>
            <span class="teamname">{{name}}</span>
        </span>
        <span class="point">{{punkte}}</span>
        <span class="goal">{{toreplus}}</span>
        <span class="goal">{{toreminus}}</span>
        <span class="goal">{{diff}}</span>
    </div>
{{/each}}